doctype html
html(ng-app="myApp")
  head
    title= 'team-list'
    meta(charset="utf-8")
    link(rel='stylesheet', href='/css/style.css')
	script(src="./js/script.js")
	script(src="./js/services.js")
	script(src="./js/controllers.js")
  body
  	.container
  		div(ui-view)
    
