doctype html
html(ng-app="teamList")
  head
    title= 'team-list'
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/css/index/style.css')

  body
    div(ui-view).container.flex

    script(src="js/index/script.js")
    script(src="http://localhost:3000/socket.io/socket.io.js")
